html{

    background-color:hsl(47, 88%, 63%);
    height: 100vh;
    
}




.box{
    height:420px;
    width: 300px;
    background-color: white;
    margin: 30vh auto;
    border:1px solid black;
    border-radius:12px;
    box-shadow: 10px 5px 5px black;  

}

.pic{
    display:flex;
    width:250px;
    height:180px;
    margin: 0 auto;
    border-radius:12px;
}

.span{
   
    background-color:hsl(47, 88%, 63%);
    font-size:18px;
    font-weight: 300;
    border-radius: 8px;
    margin-left: 12px;
    font-weight:200;
}
.para{
    font-size: 12px;
    margin-left: 12px;
}

h2{
    margin-left: 12px;
    margin-top: 10px;
}

.gray{
    font-size: 14px;
    margin-left: 12px;
    color:gray;
}

.footer{
    display:flex;
    
}


.footerpara {
    margin-left: 20px;
    font-size: 14px;
    font-weight:bold;
  }

.round{
    margin-left: 15px;
}
